# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master, develop ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Cache SonarCloud packages
      uses: actions/cache@v2
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Set up Java
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Package maven project
      run: mvn --batch-mode -Dspotless.check.skip=true package

    - name: Build and analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: mvn --batch-mode -Dspotless.check.skip=true verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar 



    - name: Upload Maven build artifact (JAR)
      uses: actions/upload-artifact@v2
      with:
        name: artifact-jar
        path: bundles/org.openhab.binding.ebus/target/*.jar

    - name: Build Karaf KAR file embedded with all dependencies
      run: mvn --batch-mode -Dspotless.check.skip=true karaf:kar -pl :org.openhab.binding.ebus

    - name: Upload Maven build artifact (KAR)
      uses: actions/upload-artifact@v2
      with:
        name: artifact-kar
        path: bundles/org.openhab.binding.ebus/target/*.kar